NODE_ENV=
PORT=

MONGO_URI=
MONGO_FALLBACK_URI=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

BCRYPT_SALT_ROUNDS=

RESET_TOKEN_EXPIRES_MINUTES=
OTP_EXPIRES_MINUTES=

CORS_ORIGIN=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BKASH_BASE_URL=
BKASH_USERNAME=
BKASH_PASSWORD=
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_CALLBACK_URL=

BKASH_CALLBACK_SUCCESS=
BKASH_CALLBACK_FAIL=
BKASH_CALLBACK_CANCEL=
BKASH_WEBHOOK=

BKASH_TOKEN_CACHE_TTL=

LOG_LEVEL=
